@{
    ViewData["Title"] = "Home Page";
}

<h1>Instagram</h1>

@if (ViewBag.Username != null)
{
    <h2>Welcome @ViewBag.Username</h2>
}

<ul>
        @foreach (var post in ViewBag.NewPosts)
        {
            <h3>@post.username</h3>
            <a href="~/Home/Read/@post.id"><img src="../images/@post.image" style="width: auto;height:400px;" /></a>
            <br>
            @post.caption
            <br>
            <br>
        }
</ul>
