@{
    ViewData["Title"] = "Home Page";
}

<h1>Instagram</h1>

<ul>
        @foreach (var post in ViewBag.Posts)
        {
            <a href="~/Home/Read/@post.id"><img src="../images/@post.image" style="width: auto;height:400px;" /></a>
            <br>
            @post.caption
            <br>
            <br>
        }
</ul>

@*~/Projects/Makers/Week_8/language_agnostic_ep_weekend_challenge/*@