@{
}

<form id="editpost" action="update" method="post">
    <textarea form="editpost" name="content" rows="10" cols="60" autofocus="" required="">@ViewBag.Post.content</textarea><br />
    <input type="submit" />
</form>