@{
}

<div class="p-5">
    <form id="newpost" action="create" method="post">
        <textarea form="newpost" name="content" rows="10" cols="60"></textarea><br />
        <input type="submit" />
    </form>
</div>