#postbox {
  width: 750px;
  border-style: solid;
  margin: auto;
  text-align: center;
}
.postbox {
  width: 750px;
  border-style: solid;
  margin: auto;
  text-align: center;
}
#box {
  margin: auto;
  text-align: center;
}
.box {
  margin: auto;
  text-align: center;
}
